In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import sys
sys.path.append('../src')

from support_extracting import extract_moon_phases

Importing all necessary libraries and modules and a function I created for extracting the data in support_extracting.py

In [2]:
PATH = 'Ironhack/driver/chromedriver.exe'
driver = webdriver.Chrome()

In [ ]:
data=extract_moon_phases()

january completed succesfully
february completed succesfully
march completed succesfully
april completed succesfully
may completed succesfully
june completed succesfully
july completed succesfully
august completed succesfully
september completed succesfully
october completed succesfully
november completed succesfully
december completed succesfully
january completed succesfully
february completed succesfully
march completed succesfully
april completed succesfully
may completed succesfully
june completed succesfully
july completed succesfully
august completed succesfully
september completed succesfully
october completed succesfully
november completed succesfully
december completed succesfully
january completed succesfully
february completed succesfully
march completed succesfully
april completed succesfully
may completed succesfully
june completed succesfully
july completed succesfully
august completed succesfully
september completed succesfully
october completed succesfully
november completed succesfully
december completed succesfully
january completed succesfully
february completed succesfully
march completed succesfully
april completed succesfully
may completed succesfully
june completed succesfully
july completed succesfully
august completed succesfully
september completed succesfully
october completed succesfully
november completed succesfully
december completed succesfully
january completed succesfully
february completed succesfully
march completed succesfully
april completed succesfully
may completed succesfully
june completed succesfully
july completed succesfully
august completed succesfully
september completed succesfully
october completed succesfully
november completed succesfully
december completed succesfully
january completed succesfully
february completed succesfully
march completed succesfully
april completed succesfully
may completed succesfully
june completed succesfully
july completed succesfully
august completed succesfully
september completed succesfully
october completed succesfully
november completed succesfully
december completed succesfully
january completed succesfully
february completed succesfully
march completed succesfully
april completed succesfully
may completed succesfully
june completed succesfully
july completed succesfully
august completed succesfully
september completed succesfully
october completed succesfully
november completed succesfully
december completed succesfully
january completed succesfully
february completed succesfully
march completed succesfully
april completed succesfully
may completed succesfully
june completed succesfully
july completed succesfully
august completed succesfully
september completed succesfully
october completed succesfully
november completed succesfully
december completed succesfully
january completed succesfully
february completed succesfully
march completed succesfully
april completed succesfully
may completed succesfully
june completed succesfully
july completed succesfully
august completed succesfully
september completed succesfully
october completed succesfully
november completed succesfully

Using the function I created for selenium to extract the data. I save the data in a variable called 'data'

In [ ]:
data[:10]

Making sure my data has been extracted correctly

In [ ]:
df=pd.DataFrame(data)

Converting it to a DataFrame

In [ ]:
df.to_csv("../data/original/moon_phases.csv", index=False)

Saving the file

In [ ]:
driver = webdriver.Chrome()

eclipses_data=[]

url = f'https://mooncalendar.astro-seek.com/solar-and-lunar-eclipses-1994'
driver.get(url)
driver.find_element(By.XPATH, '/html/body/div[1]/a[2]').click()

Entering a new page to extract data for eclipses from 1994 to 1999.

In [ ]:
body=driver.find_element(By.CSS_SELECTOR,'body > div.main-nad-envelope > div.main-envelope > div.main-web > div.stredni-menu > div.obsah > div:nth-child(3) > div.detail-rozbor > div > div:nth-child(9) > table')

In [ ]:
rows=body.find_elements(By.TAG_NAME, 'tr')

In [ ]:
rows[1].text

In [ ]:
rows_cleaned=rows[1].text.split('\n')

In [ ]:
rows_cleaned

In [ ]:
eclipse_data=[]
for element in rows:
    rows_cleaned=element.text.split('\n')
    eclipse_data.append(rows_cleaned)
    
eclipse_data[:10]

Extracting the data

In [ ]:
url = f'https://mooncalendar.astro-seek.com/solar-eclipses-decade-2000-2009'
driver.get(url)
body=driver.find_element(By.CSS_SELECTOR,'body > div.main-nad-envelope > div.main-envelope > div.main-web > div.stredni-menu > div.obsah > div:nth-child(3) > div.detail-rozbor > div > div:nth-child(9) > table')
rows=body.find_elements(By.TAG_NAME, 'tr')

Entering a new page to extract data for eclipses from 2000 to 2009.

In [ ]:
for element in rows:
    rows_cleaned=element.text.split('\n')
    eclipse_data.append(rows_cleaned)
    
eclipse_data[:10]

Extracting the data and adding it to the list with eclipses from 1994-2000.

In [ ]:
eclipse_df=pd.DataFrame(eclipse_data)

Converting it to a dataframe

In [ ]:
eclipse_df.to_csv("../data/original/eclipses.csv", index=False)

Saving the file.