In [1]:
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

Importing libraries

In [2]:
with open('kodikoi.txt', 'r') as file:
    password = file.read().strip()

Importing my password

In [3]:
str_conn = f'mysql+pymysql://root:{password}@localhost:3306'
cursor = create_engine(str_conn)

Connecting to sql

In [4]:
data = pd.read_csv('../data/clean/final_clean.csv')
data.head()

   year  month  day        dow  births      moon_phase        holiday
0  1994      1    1   Saturday    8096  waning gibbous  Not a holiday
1  1994      1    2     Sunday    7772  waning gibbous  Not a holiday
2  1994      1    3     Monday   10142  waning gibbous  Not a holiday
3  1994      1    4    Tuesday   11248    last quarter  Not a holiday
4  1994      1    5  Wednesday   11053    last quarter  Not a holiday

Importing the data

In [6]:
cursor.execute('create database etl_project;')

Creating schema etl_project

In [7]:
str_conn = f'mysql+pymysql://root:{password}@localhost:3306/etl_project'
cursor = create_engine(str_conn)

Pointing the cursor to etl_project

In [8]:
data.to_sql(name='births',      
            con=cursor,          
            if_exists='replace',  
            index=True)

3662

Creating table births and filling it with the data